[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/pixeljetstream/cgltf.git
	branch = nvidia/micromap
[submodule "external/bary_core"]
	path = external/bary_core
	url = https://github.com/NVIDIAGameWorks/Displacement-MicroMap-BaryFile.git
	branch = main
[submodule "nvpro_core"]
	path = nvpro_core
	url = https://github.com/nvpro-samples/nvpro_core.git
	branch = master
